.container
{
    font-family:arial;
}
.subtitle
{
    text-align:center;
}
.championImage
{
    width:200px;  
    height:200px;
    border-radius:0px;
    margin-right:80px;
    margin-left:20px;   
    margin-bottom:50px;
}
.container2
{
    position:relative;
    left:-500px;
    top:50px;
    margin-bottom:100px;
}