.container
{
    background-color:rgb(50, 50, 50);
    color:white;
    font-family:arial;
    font-size:20px;
}
.container ul
{
    list-style-type:none;
    display:inline-block;
}
.container li
{
    display:inline-block;
    margin:20px;
    cursor:pointer;
}
.container button
{
    width:150px;
    background-color:transparent;
    color:white;
    border:none;
    font-size:20px;
    display:inline-block;
    cursor:pointer;
}
.container button:hover
{
    color:rgb(200, 200, 200);
}
.special
{
    margin-left:200px;
}
a
{
    color:white;
    text-decoration:none;
}
a:hover 
{
    color:rgb(200, 200, 200);
}