.container
{
    background-color:rgb(50, 50, 50);
    color:white;
    font-family:arial;
    font-size:20px;
}
.container ul
{
    list-style-type:none;
    display:inline-block;
}
.container li
{
    display:inline-block;
    margin:30px;
    cursor:pointer;
}
.container li:hover
{
    color:rgb(200, 200, 200);
}
.container select
{
    width:150px;
    background-color:rgb(50, 50, 50);
    color:white;
    border:none;
    font-size:20px;
    display:inline-block;
    cursor:pointer;
    position:relative;
    left:450px;
}