.container
{
    background-color:rgb(50, 50, 50);
    color:white;
    font-family:arial;
    font-size:20px;
}
.container ul
{
    list-style-type:none;
    display:inline-block;
}
.container li
{
    display:inline-block;
    margin:20px;
    cursor:pointer;
}
.container button
{
    width:150px;
    border:none;
    font-size:20px;
    display:inline-block;
    cursor:pointer;
}
.container button:hover
{
    color:rgb(200, 200, 200);
}
#special
{
    margin-left:50px;
    background-color:rgb(200, 200, 200) !important;
}
a
{
    color:white;
    text-decoration:none;
}
a:hover 
{
    color:rgb(200, 200, 200);
}
.button1, .button2, .button3
{
    width:30px !important;
    height:30px !important;
    position:relative;
    top:10px;
    float:right;
    margin-top:25px;
}
.button1
{
    background-color:white;
}
.button2
{
    background-color:rgb(100, 100, 100);
}
.button3
{
    background-color:rgb(120, 40, 120);
    margin-right:10px;
}
.remover
{
    display:none !important;
}